<tr>
    <td style="text-align:center; background:#000;">
      <img src="https://firebasestorage.googleapis.com/v0/b/bevgo-client-management-rckxs5.firebasestorage.app/o/Bevgo%20Media%2FBevgo%20Header%20Banner.png?alt=media&token=fb6ef880-b618-46c5-a1c3-e9bc1dd3690e"
           alt="Bevgo"
           style="width:100%; max-width:600px;">
    </td>
  </tr>
  
